In [17]:
# Dependencies
from splinter import Browser 
from bs4 import BeautifulSoup as soup
import requests
import pandas as pd
from webdriver_manager.chrome import ChromeDriverManager

In [18]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 94.0.4606
Get LATEST driver version for 94.0.4606
Driver [C:\Users\jillp\.wdm\drivers\chromedriver\win32\94.0.4606.61\chromedriver.exe] found in cache

In [19]:
# URL of page to be scraped
url = 'https://redplanetscience.com'
browser.visit(url)

browser.is_element_present_by_css('div.list_text', wait_time=1)

True

In [20]:
html = browser.html
news_soup = soup(html, 'html.parser')

slide_elem = news_soup.select_one('div.list_text')
print(slide_elem)

<div class="list_text">
<div class="list_date">September 28, 2021</div>
<div class="content_title">Nine Finalists Chosen in NASA's Mars 2020 Rover Naming Contest</div>
<div class="article_teaser_body">Nine finalists have been chosen in the essay contest for K-12 students across U.S. to name NASA's next Mars rover. Now you can help by voting for your favorite. </div>
</div>

In [21]:
slide_elem.find('div', class_='content_title')

In [24]:
news_title=slide_elem.find('div', class_='content_title').get_text()
news_title

"Nine Finalists Chosen in NASA's Mars 2020 Rover Naming Contest"

In [25]:
news_p=slide_elem.find('div', class_='article_teaser_body').get_text()
news_p

"Nine finalists have been chosen in the essay contest for K-12 students across U.S. to name NASA's next Mars rover. Now you can help by voting for your favorite. "

JPL Space Images

In [37]:
url = 'https://spaceimages-mars.com'
browser.visit(url)

In [38]:
full_image_elem=browser.find_by_tag('button')[1]
full_image_elem.click()

In [39]:
html = browser.html
image_soup = soup(html, 'html.parser')

In [41]:
img_url_rel = image_soup.find('img', class_= 'fancybox-image').get('src')
print(img_url_rel)

image/featured/mars2.jpg

In [42]:
img_url = f'https://spaceimages-mars.com/{img_url_rel}'
img_url

'https://spaceimages-mars.com/image/featured/mars2.jpg'

Mars Facts

In [61]:
df = pd.read_html('https://galaxyfacts-mars.com')
df = pd.read_html('https://galaxyfacts-mars.com')[0]
df

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [62]:
df.columns=['Description', 'Mars', 'Earth']
df.head()

               Description             Mars            Earth
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km

In [63]:
df.set_index('Description', inplace=True)
df.head()

                                    Mars            Earth
Description
Mars - Earth Comparison             Mars            Earth
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km

In [64]:
df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n    <tr>\n      <th>Description</th>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Mars - Earth Comparison</th>\n      <td>Mars</td>\n      <td>Earth</td>\n    </tr>\n    <tr>\n      <th>Diameter:</th>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>Distance from Sun:</th>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>Length of Year:</th>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>Temperature:</th>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

Hemispheres

In [79]:
url = 'https://marshemispheres.com/'
browser.visit(url)

In [80]:
hemispheres_list  = []

links = browser.find_by_css('a.product-item img')

for i in range(len(links)): 
    hemisphere = {}
    
    browser.find_by_css('a.product-item img')[i].click()
    
    sample_image = browser.links.find_by_text('Sample').first
    hemisphere['img_url'] = sample_image['href']
    
    hemisphere['title'] = browser.find_by_css('h2.title').text
    
    hemispheres_list.append(hemisphere)
    
    browser.back()

In [81]:
hemispheres_list

[{'img_url': 'https://marshemispheres.com/images/full.jpg',
  'title': 'Cerberus Hemisphere Enhanced'},
 {'img_url': 'https://marshemispheres.com/images/schiaparelli_enhanced-full.jpg',
  'title': 'Schiaparelli Hemisphere Enhanced'},
 {'img_url': 'https://marshemispheres.com/images/syrtis_major_enhanced-full.jpg',
  'title': 'Syrtis Major Hemisphere Enhanced'},
 {'img_url': 'https://marshemispheres.com/images/valles_marineris_enhanced-full.jpg',
  'title': 'Valles Marineris Hemisphere Enhanced'}]

In [82]:
browser.quit